
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.no-stretch{white-space: nowrap; width: 1%;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{background:#FFF;}
.nav-tabs{margin-bottom:5px;}
.sheet_cell{margin:0; padding:0; width: 100%; min-width: 100px; height: 100%; border:1px solid #FFF; outline: none;}
.sheet_cell:focus{border:1px solid #999;}
