
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.col-validation-label{width:85px; text-align:left; font-size:12px;}
#column-list .input-group{margin:2px 0;}
.no-stretch{white-space: nowrap; width: 1%;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{background:#FFF;}
.nav-tabs{margin-bottom:5px;}
.form-control{font-family:Arial, sans-serif;}
